body {
    font-family: Arial, Helvetica, sans-serif;
}

#total, #datos-factura {
    list-style: none;
    font-size: 20px;
    color: white;
    background-color: #ff5722;
}
.contenedor::after {
    content: "";
    clear: both;
    display: table;
}

.contenedor-datos-factura, .contenedor-total {
    float: left;
    margin: 20px;
}