body {
    font-family: Arial, Helvetica, sans-serif;
}

#total, #datos-factura {
    list-style: none;
    font-size: 20px;
    color: white;
    background-color: #ff5722;
}
.contenedor::after {
    content: "";
    clear: both;
    display: table;
}

.contenedor-datos-factura, .contenedor-total {
    float: left;
    margin: 20px;
}

#nombre, #cantidad, #fecha, #tipo {
    width: 200px;
    height: 25px;
    background-color: rgb(151, 255, 255);
}

.titles ul li, .inputs ul li {
    list-style: none;
}

.titles, .inputs {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }